@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sevillana&family=Sofia&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url("../images/login-bg.jpg");
  font-family: "Roboto Slab", serif;
  background-color: black;
}

.login-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0vh;
  padding: 50px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.go-back {
  font-size: 30px;
}

#login-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  color: white;
  border: none;
}
#login-title > h1 {
  height: 70px;
}
#login-content {
  margin-left: 30px;
}
.input-group {
  text-align: center;
  margin-bottom: 5px;
}

.login-text {
  font-size: 15px;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}
.login-bottom {
  margin-bottom: 40px;
}
.btn-1 {
  width: 100%;
  padding: 15px;
  background-color: #6b63b5;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-1:hover {
  background-color: #c2bbff;
}
.btn-1 a,
.btn-2 a {
  color: white;
}
.btn-2 {
  width: 100%;
  padding: 15px;
  border: white 2px solid;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sign-up-h2 {
  text-align: center;
  margin-top: 10px;
}
.btn-1 p,
.btn-2 p {
  text-align: center;
}
